a {
    color: #fff;
   text-decoration: none;
  }

  a:visited {
 @@ -115,6 +116,23 @@ a:visited {
    border-radius: 5px;
  }

 .student-card:before {
   content: "";
   position: absolute;
 +  top: 0;
 +  bottom: 0;
 +  right: 0;
 +  left: 0;
 +  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, .0) 50%);
 +  border-radius: 5px;
 +}
 +
 +.student-card a {
 +  position: relative;
 +  display: block;
 +  height: 400px;
 +}
 +
  #joe-burgess-card {
    background-image: url("../assets/img/joe-burgess.jpeg");
  }
 @@ -147,12 +165,6 @@ a:visited {
    background-image: url("../assets/img/diane-vu.jpg");
  }

 -
 -.student-card a {
 -  display: block;
 -  height: 400px;
 -}
 -
  .view-profile-div {
    position: absolute;
    bottom: 0;
 @@ -317,6 +329,7 @@ a:visited {

  .description-holder h5 {
    font-size: 16px;
 +  font-weight: normal;
  }

  .education-content div:nth-child(3),
